* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

@keyframes gravity {
  to {
    transform: translateY(40px);
  }
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: #45A29E;
  border-radius: 1rem;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #1F2833;
  position: relative;
}

header {
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  background-color: #1F2833;
  border-bottom: 1px solid #C5C6c7;
  padding: 0 4%;
}
@media (max-width: 1024px) {
  header {
    justify-content: space-between;
  }
}
header .logo {
  color: #C5C6c7;
  font-size: 2rem;
  margin: 10px 0;
}
@media (max-width: 1024px) {
  header .logo {
    font-size: 1.5rem;
    margin-left: 10px;
  }
}
@media (max-width: 1024px) {
  header .menu_desktop {
    display: none;
  }
}
header .menu_desktop ul {
  display: flex;
  list-style-type: none;
}
header .menu_desktop li {
  transition: 0.3s;
  margin: 0 25px;
}
header .menu_desktop li:hover {
  scale: 1.6;
}
header .menu_desktop a {
  padding: 8px 0;
  display: block;
  color: #C5C6c7;
  text-decoration: none;
}
header .menu_desktop a:hover {
  color: #66FCF1;
}
header .menu_mobile {
  display: none;
}
@media (max-width: 1024px) {
  header .menu_mobile {
    position: absolute;
    display: block;
    width: 100%;
    left: 0;
    top: 49px;
    height: 0;
    overflow: hidden;
    transition: 1s;
    text-align: center;
    background-color: #1b1b1b;
  }
}
header .menu_mobile ul {
  list-style-type: none;
}
header .menu_mobile ul li a {
  color: #C5C6c7;
  text-decoration: none;
  display: block;
  padding: 10px 0;
  border-bottom: 1px solid #C5C6c7;
}
header .menu_mobile ul li a:hover {
  background-color: #45A29E;
}

.bars {
  display: none;
}
@media (max-width: 1024px) {
  .bars {
    position: fixed;
    right: 10px;
    top: 12px;
    z-index: 99;
    display: inline-block;
    cursor: pointer;
  }
  .bars div {
    width: 30px;
    height: 2px;
    position: relative;
    margin-bottom: 8px;
    background-color: #C5C6c7;
  }
  .bars div:last-child {
    margin-bottom: 0;
  }
}

.chamada_header {
  width: 100%;
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1024px) {
  .chamada_header {
    transition: 0.9s;
  }
}
@media (max-width: 900px) {
  .chamada_header {
    flex-direction: column-reverse;
  }
}
.chamada_header .img_portfolio {
  background-image: url("../images/perfil.portfolio.png");
  width: 100%;
  max-width: 650px;
  height: 500px;
  background-size: cover;
  background-position: center;
  margin-top: 90px;
  animation-name: gravity;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@media (max-width: 1024px) {
  .chamada_header .img_portfolio {
    height: 400px;
    margin-top: 60px;
    background-position: center;
  }
}
@media (max-width: 900px) {
  .chamada_header .img_portfolio {
    max-width: 550px;
    height: 420px;
  }
}
@media (max-width: 500px) {
  .chamada_header .img_portfolio {
    height: 300px;
    max-width: 400px;
  }
}
.chamada_header .sobre_header {
  color: #C5C6c7;
  margin-top: 80px;
}
@media (max-width: 1024px) {
  .chamada_header .sobre_header {
    width: 80%;
    text-align: center;
    margin-top: 80px;
  }
}
.chamada_header .sobre_header span {
  font-size: 2rem;
}
.chamada_header .sobre_header h1 {
  margin: 20px 0;
  font-size: 3rem;
  color: #66FCF1;
}
@media (max-width: 1024px) {
  .chamada_header .sobre_header h1 {
    font-size: 2.2rem;
    margin: 10px 0;
  }
}
.chamada_header .sobre_header p {
  font-size: 1.1rem;
  letter-spacing: 14px;
}
@media (max-width: 1024px) {
  .chamada_header .sobre_header p {
    letter-spacing: 0;
  }
}
.chamada_header .redes_sociais {
  width: 100%;
  max-width: 290px;
  display: flex;
  margin: 20px 0;
  gap: 1rem;
}
@media (max-width: 1024px) {
  .chamada_header .redes_sociais {
    margin: 20px auto;
    display: block;
  }
  .chamada_header .redes_sociais div {
    margin-bottom: 10px;
  }
}
.chamada_header .redes_sociais i {
  font-size: 1.1rem;
}
@media (max-width: 1024px) {
  .chamada_header .redes_sociais i {
    margin: 0 auto;
  }
}
.chamada_header .redes_sociais i a {
  color: #C5C6c7;
  text-decoration: none;
  font-size: 14px;
}
.chamada_header .redes_sociais .instagram, .chamada_header .redes_sociais .github, .chamada_header .redes_sociais .linkedin {
  display: flex;
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.2588235294);
  transition: 0.6s;
  padding: 8px;
  border-radius: 1rem;
}
.chamada_header .redes_sociais .instagram:hover, .chamada_header .redes_sociais .github:hover, .chamada_header .redes_sociais .linkedin:hover {
  background-color: #45A29E;
}

section.sobre {
  width: 100%;
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 2%;
  padding: 40px 2%;
  border-bottom: 1px solid #C5C6c7;
}
section.sobre h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #C5C6c7;
}
@media (max-width: 1024px) {
  section.sobre h2 {
    font-size: 1.8rem;
  }
}
section.sobre p {
  width: 100%;
  color: #C5C6c7;
  margin: 0 auto;
  text-align: center;
  line-height: 1.6rem;
  max-width: 900px;
}

section.habilidades {
  width: 100%;
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 2%;
  min-height: 300px;
  padding: 60px 2%;
  color: #C5C6c7;
}
section.habilidades h2 {
  text-align: center;
  font-size: 2.5rem;
  padding-bottom: 30px;
}
@media (max-width: 1024px) {
  section.habilidades h2 {
    font-size: 1.8rem;
  }
}
section.habilidades img {
  width: 100%;
  max-width: 100px;
  margin: 40px;
}
section.habilidades .dFlex {
  padding: 60px 0;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  background-color: rgba(69, 162, 157, 0.1450980392);
}
@media (max-width: 1024px) {
  section.habilidades .dFlex {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 368px) {
  section.habilidades .dFlex {
    flex-direction: column;
  }
}

main.projetos {
  width: 100%;
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 2%;
  min-height: 400px;
  padding: 30px;
  position: relative;
}
main.projetos > h2 {
  text-align: center;
  font-size: 2.5rem;
  color: #C5C6c7;
  margin-bottom: 60px;
}
@media (max-width: 1024px) {
  main.projetos > h2 {
    font-size: 1.8rem;
  }
}
main.projetos .single_projeto ._projeto {
  box-shadow: #66FCF1 0px 20px 30px -10px;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  position: relative;
}
@media (max-width: 668px) {
  main.projetos .single_projeto ._projeto {
    flex-direction: column-reverse;
  }
}
main.projetos .single_projeto ._projeto .imgpro {
  width: 45%;
  background-color: cadetblue;
  height: 400px;
}
@media (max-width: 668px) {
  main.projetos .single_projeto ._projeto .imgpro {
    width: 100%;
    height: 300px;
  }
}
main.projetos .single_projeto ._projeto .textpro {
  width: 45%;
  margin: 0 auto;
}
@media (max-width: 668px) {
  main.projetos .single_projeto ._projeto .textpro {
    width: 100%;
    padding: 20px;
  }
}
main.projetos .single_projeto ._projeto .textpro h2 {
  color: #45A29E;
  margin-bottom: 20px;
  text-align: center;
}
main.projetos .single_projeto ._projeto .textpro p {
  color: #C5C6c7;
  width: 100%;
  text-align: center;
  line-height: 2rem;
  max-width: 600px;
}
main.projetos .single_projeto ._projeto .verMais {
  position: absolute;
  cursor: pointer;
  right: 10px;
  bottom: 10px;
}

footer.contato {
  width: 100%;
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 2%;
  text-align: center;
  padding-bottom: 30px;
  color: #C5C6c7;
  line-height: 4rem;
}
footer.contato a {
  color: #C5C6c7;
  text-decoration: none;
}
footer.contato h2 {
  font-size: 2.5rem;
  padding: 20px 0;
}
@media (max-width: 1024px) {
  footer.contato h2 {
    font-size: 1.8rem;
  }
}/*# sourceMappingURL=style.css.map */